@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root{
  --cor-fundo: #2F2D33;
  --cor-destaque: #6E2DCF;
  --cor-texto: #FFFFFF;
}

body{
font-family: 'Montserrat' , 'sans-setif';
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  height: 100vh;
  box-sizing: border-box;
}

.titulo-destaque{
  color: var(--cor-destaque)
}

a{
  color: var(--cor-texto);
  font-size: 18px;
  text-decoration: none;
  margin-top: 15px;
  background-color: var(--cor-destaque);
  padding: 10px 30px;
  margin: 10px;
  border-radius: 15px;
}

.apresentacao{
  display: flex;
  margin: 15%;
  align-items: center;
  justify-content: space-between;
}

.foto{
height: 490px;
}

.apresentacao_conteudo{
  width: 615px;
  flex:;
  flex-direction:collum;
  gap: 40px;
  
}

.apresentacao_conteudo_titulo{
  font-size: 36px;
  font-family: 'Krona One' , Sans-serif
}

.apresentacao_conteudo_texto{
  font-size: 24px;
  font-family: ;
}

.apresentacao_links{
flex: ;
}